createdAt: "2019-03-06T15:25:28.900Z"
updatedAt: "2019-03-07T19:30:54.951Z"
type: "MARKDOWN_NOTE"
folder: "5201fb241aae7a5e7a9b"
title: "Pyranda"
tags: []
content: '''
  # Pyranda
  
  ## Build Status'
  * trunk
     * MPICH 3.2.1 & Intel 19.0.1 
  * mpi_f08
     * ~~OpenMPI 4.0.0 & Intel 19.0.1~~
   
   
   ## Testing
   `test_pent.f89` in `pyranda/parcop`
   `./test_pent [interations=100,nx=32,px=1,ny=1,py=1,nz=1,pz=1]`
'''
linesHighlighted: []
isStarred: false
isTrashed: false
