createdAt: "2018-12-23T19:21:09.935Z"
updatedAt: "2018-12-24T01:45:57.622Z"
type: "MARKDOWN_NOTE"
folder: "5201fb241aae7a5e7a9b"
title: "f18 Installation"
content: '''
  # f18 Installation
  
  ### Prereqs
  From [f18 git](https:\\\\github.com\\flang-compiler\\f18\\)
  * GCC 7.2., 7.3, 8.1, 8.2
  * Clang 6.0
  
  
  ## LLVM and Clang Install
  1. [Download Source](https:\\\\releases.llvm.org\\download.html) 
  * LLVM Source Code 6.0.1
  * Clang Source Code 6.0.1
  2. Get [Clang Prereqs](https:\\\\llvm.org\\docs\\GettingStarted.html#software)
  * GNU Make 3.79, 3.79.1
  * GCC: look at f18 requirements
  * Python >= 2.7
  * zlib >= 1.2.3.4
  3. Follow [Getting Started](https:\\\\clang.llvm.org\\get_started.html) instructions using the already downloaded `source code` instead of `svn`.
  
  I used the following `configure.sh` script when building.
  
  ```Shell
  #!\\bin\\bash
  
  # ml gcc\\7.3 cmake-3.12 zlib-1.2.11
  # This is run from an `llvm-build` directory
  # NOTE: because of the "Unix Makefiles" string I haven't
  #            been able to figure out how to use ${HOME},
  #            thus I'm using absolute paths
  
  RUN='cmake ..\\llvm-6.0.1.src \\
  -G "Unix Makefiles" \\
  -DLLVM_BUILD_TESTS=ON \\
  -DCMAKE_C_COMPILER=\\packages\\gcc\\7.3\\bin\\gcc \\
  -DCMAKE_CXX_COMPILER=\\packages\\gcc\\7.3\\bin\\c++ \\
  -DCMAKE_INSTALL_PREFIX=\\home\\users\\scrasmussen\\local\\llvm\\6.0.1-gcc-7.3'
  
  echo "$RUN"
  eval "$RUN"
  ```
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
